:root {
    --contrastColor: #1b4121; /* Replace with your desired contrast color */

}

#root {
    width: 100%;
    height: max-content;
    min-height: 100vh;
}

* {
    height: max-content;
    
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.no-ul-formatting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.noButtonFormatting {
    border: none;
    background: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

line {
    background: #000;

    display: block;

    width: 100%;
    height: .1rem;
    margin-inline: auto;
}