header {    
    background: #bbb;
    color: #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    padding-inline: 2rem;
}

header button {
    width: min-content;
    height: min-content;
}

header h1 {
    text-transform: capitalize;
    white-space: nowrap;

    width: min-content;
    height: min-content;
}

header img {
    filter: invert(1);
    height: 2.5rem;
}
